<%= render '/shared/logo' %>
<%= render '/shared/header_links' %>

<div class="edit-container">
  <%= form_for([@user,@done]) do |f| %>
    <%= f.text_area :content, plaeholder: "..." %> <br>
    <%= f.submit "edit." %>
  <% end %>
  <hr>
  <%= button_to "or delete", user_done_path(@user, @done), :method => :delete, data: { confirm: 'delete?' } %>
</div>