<div class="row">
  <div class="done-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <!-- top -->
    <div id="after-signup-pointer">
      This is where you can <br> write down each 'done'. <br>
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </div>

    <!-- form -->
    <%= form_for([@user, @done]) do |f| %>
      <% if @done.errors.any? %> 
        <p> Parameters insufficient. Try again. </p> 
      <% end %>
      <%= f.text_area :content, placeholder: "write here." %> <br>
      <%= f.submit "√ done.", class: "btn btn-sm" %>
    <% end %> <br>

    <!-- text -->
    <div class="text"><strong>Email Reminders with your DoneList go out on Wednesdays and Sundays.</strong></div><hr> 

    <!-- dones -->
    <% @users_dones.each do |d| %>
      <% if !d.content.blank? %> 
        <div class="done"> 
          <p> <%= d.content %> </p> <%= link_to "edit", edit_user_done_path(@user, d) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  /* setTimeout(function () {
      document.getElementById('after-signup-pointer').style.display='none';
  }, 5500); */
</script>