<div  class="header_logo">
  <a href="/"><%= image_tag "logo.png" %></a>
</div>

<div class="header_links">
  <% if logged_in? %>
    <% if flash.notice %> 
      <div class="notice_flash"> <%= notice %> </div> 
    <% else %>
      <a href="mailto:seikowsky@gmail.com" class="normal_link"> Have a suggestion? Write to admin. </a>
    <% end %>
    <%= link_to "DoneList", new_user_done_path(return_current_user), class: "btn btn-md btn-primary" %>
    <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-md btn-primary" %>
  <% else %>  
    <% if flash.notice %> 
      <div class="notice_flash"> <%= notice %> </div> 
    <% else %>
      <a href="mailto:seikowsky@gmail.com" class="normal_link"> Have a suggestion? Write to admin. </a>
    <% end %>
    <%= link_to "Sign up", signup_path, class: "btn btn-md btn-success" %>
    <%= link_to "Log in", login_path, class: "btn btn-md btn-success" %>
  <% end %>
</div>