<h4>Sign up and have a go :)</h4>
<%= form_for @user do |f| %> 
  <%= f.text_field :name, placeholder: "Dagny Taggard", class: "form-control"  %>
  <%= f.text_field :email, placeholder: "taggard@gmail.com", class: "form-control" %>
  <%= f.password_field :password, placeholder: "password", class: "form-control"  %>
  <div style="text-align: center;">
    <%= f.submit "Sign up", class: "btn btn-md btn-warning" %>
  </div>
<% end %>